/* div */

position: relative;
width: 1488px;
height: 90.8px;



/* br */

position: absolute;
width: 0px;
height: 30px;
left: calc(50% - 0px/2);
top: 3px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 15px;



/* header#header */


/* div */

/* div */

position: absolute;
width: 30px;
height: 30px;
left: 5px;
top: 5px;

background: rgba(255, 255, 255, 0.9);
box-shadow: inset 4px 4px 4px rgba(255, 255, 255, 0.9), inset -4px -4px 4px rgba(195, 193, 198, 0.81);
border-radius: 15px;


/* div */

position: absolute;
width: 20px;
height: 20px;
left: 45px;
top: 5px;

border-radius: 10px;


/* Shivam. */

position: absolute;
width: 142.54px;
height: 70px;
left: 80px;
top: 25px;

font-family: 'Kalam';
font-style: normal;
font-weight: 400;
font-size: 38px;
line-height: 72px;
/* or 189% */
display: flex;
align-items: center;

color: rgba(46, 46, 46, 0.9);

