@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&family=Source+Code+Pro:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');



:root{
  --bg: #0A192FD9;
  --color: #64FFDA;
  --primary: #CCD6F6;
  --secondary: #8892B0;

}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  }
  

/* styles */
html{
  scroll-behavior: smooth;
  width: 100% !important;
}

::-moz-selection { /* Code for Firefox */
  background: var(--secondary);
}

::selection {
  background: var(--secondary);
}

.header{
  display: flex;
  box-sizing: border-box;
  position: fixed;
  height: 115px;
  padding-top: 2em;
  padding-left: 2em;
  border: 1px solid #0a192f40;
  box-shadow: 0px 4px 20px #ffffff12;
}
  
.logo{
  display: inline;
  margin-right: 30%;
  font-family: sacramento, sans-serif;
  font-size: 3em;
  font-weight: normal;
  color: var(--color);
  height: auto;
  top: 2em;
}

body {
  transition: 0.3s;
  margin: 0;
  padding: 0;
  background-color: var(--bg);
  font-family: 'Poppins', sans-serif;
  color:rgb(57, 57, 57);
  align-items: center;
  justify-content: center;
}

#typewr{
  display:flex; 
  justify-content:center;
  font-size: x-large;
  margin-bottom: 2.8rem;
  color: whitesmoke;
}

typewr::after {
  content: '|';
  color: white;
  margin-left: 5px;
  animation: blink 0.7s infinite;
}

@keyframes blink {
  0% { opacity: 1; }
  100% { opacity: 0; }
}


.hero-img{
  width: 130%;
  height: auto;
  filter: sepia(100)
   /* | hue-rotate(2) | saturate() */
}

.switch {
  display: block;
  width: 80px;
  height: 40px;
  border-radius: 20px;
  background-color: rgb(39, 38, 38);
  position: relative;
  margin-right: 10px;
  margin-top: 0.5rem;
  float: right;
  
}

.main {
  height: 80vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
}
.main-text {
  padding: 30px;
  margin-bottom: 100px;
  font-family: monospace,sans-serif;
  letter-spacing: 0.14rem;
}

.main-text h1{
  font-family: Patrick Hand,sans-serif;
  font-weight: 500;
}

.sub-section {
  display: flex;
  flex-wrap: wrap;
}
body section{
  margin: 2rem 0 2rem 0;; 
  padding: 2rem 2rem 2rem 3rem;
}

.hero-image {
  top: 12px;
  float: left;
  display: block;
  margin-bottom: 100px;
}


.dd-button {
  display: inline-block;
  border: 1px solid gray;
  border-radius: 4px;
  padding: 10px 30px 10px 20px;
  background-color: #ffffff;
  cursor: pointer;
  white-space: nowrap;
}

.dd-button:after {
  content: '';
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
  width: 0; 
  height: 0; 
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid black;
}

.dd-input {
  display: none;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 0;
  margin: 2px 0 0 0;
  box-shadow: 0 0 6px 0 rgba(0,0,0,0.1);
  background-color: #ffffff;
  list-style-type: none;
}

.dd-input + .dropdown-menu {
  display: none;
} 

.dd-input:checked + .dropdown-menu {
  display: block;
} 

.dropdown-menu li {
  padding: 10px 20px;
  cursor: pointer;
  white-space: nowrap;
}


.dropdown-menu li a {
  display: block;
  margin: -10px -20px;
  padding: 10px 20px;
}

.dropdown-menu li.divider{
  padding: 0;
  border-bottom: 1px solid #cccccc;
}

@media print {
  html, body {
     display: none;  /* hide whole page */
    }
}

@media only screen and (min-width: 970px) {
  .main-text {
    width: 50%;
  }
}

@media only screen and (max-width: 1300px) {
  .header{
    height: 16vh;
  }
}

.card{
  margin-left: 1.5rem;
}

.footer-item{
  width: 40%; text-align: center;
  align-items: center;
  align-content: center;
  justify-content: center;
  margin: auto;
  display: grid;
}

@media (max-width: 780px) {
  .linked{
    visibility: hidden;
  }
}

nav li{
  float: left;
  color: var(--color);
  font-family: Righteous;
  margin-left: 8%;
}
li a{
  display: block;
  font-size: x-large;
  margin-right: 40px;
}
nav li a:hover{
  color: var(--primary);
}
/* footer style */
footer {
  width: 100%;
  padding: 90px 55px;
  background-color: var(--bg);
  color: var(--primary);
  height: 70vh;
  font-size: larger;
  padding-top: 20vh;
}

.social-buttons{
  background-color: #000000;
  font-size:xxx-large;
  margin-bottom: 1.5rem;
  margin: 12px;
  color: white;

}
.social-icons{
  display: grid;
  grid-template-columns: repeat(2, 108px);
  grid-template-rows: repeat(1, 108px);
  margin-bottom: 100px;
  justify-content: center;
}

.social-icons #github{
  background-color: #000000;
  grid-row: 1;
  grid-column: 1;
}
.social-icons #github:hover{
  background-color: var(--bg);
  color: var(--color);
  border-color: var(--color);
}
.social-icons #twitter{
  background-color: #1d9bf0;
  grid-row: 1;
  grid-column: 2;
}
.social-icons #twitter:hover{
  background-color: var(--bg);
  color: var(--primary);
  border-color: var(--primary);
}
.social-icons #facebook{
  background-color: #4267B2;
  grid-row: 2;
  grid-column: 1;
}
.social-icons #facebook:hover{
  background-color: var(--bg);
  color: #4267B2;
  border-color: #4267B2;
}
.social-icons #linkedin{
  background-color: #0077b5;
  grid-row: 2;
  grid-column: 2;
}
.social-icons #linkedin:hover{
  background-color: var(--bg);
  color: #0077b5;
  border-color: #0777b5;
}

div h4{
  text-transform: capitalize;
  margin-bottom: 1.5rem;
}

.grid-container{
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: space-between;
}
footer .grid-container .grid-items{
  padding-left: 10vw;
  padding-right: 10vw;
}
.grid-container .grid-items figcaption{
  color:rgb(39, 38, 38);
  font-family: Poppins,sans-serif;
  font-weight: 500;
}

.primary-btn{
  background-color: var(--primary);
  color: var(--bg);
}
.primary-btn:hover{
  background-color: var(--secondary);
  color: var(--bg);
}

.btn-xl {
  padding: 1rem 1.75rem;
  font-size: 1.25rem;
}
a{
  color: inherit;
  text-decoration: none;
}

#home{
  height: 100%;
  padding-top: 115px;
}

.masthead-avatar{
  align-self: center;
  align-self: center;
  margin-bottom: 2.8rem;
  margin-top: 3.6rem;
}

.copyright{
  background-color: #131e3a;
  color: var(--primary);
}

.modal-header{
  background-color: var(--bg);
  color: var(--secondary);
  opacity: 0.85;
}

.modal-body{
  background-color: var(--bg);
  font-size: 1.2rem;
}
.modal-body a{
  color: var(--primary);
  text-decoration: underline;
}

.modal-footer{
  background-color:var(--bg);
}

.focus-in-expand {
	-webkit-animation: focus-in-expand 0.8s cubic-bezier(0.390, 0.575, 0.565, 1.000) 2 alternate-reverse both;
	        animation: focus-in-expand 0.8s cubic-bezier(0.390, 0.575, 0.565, 1.000) 2 alternate-reverse both;
}
 @-webkit-keyframes focus-in-expand {
  0% {
    letter-spacing: -0.5em;
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}
@keyframes focus-in-expand {
  0% {
    letter-spacing: -0.5em;
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}

.swing-in-top-bck {
	-webkit-animation: swing-in-top-bck 1.9s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
	        animation: swing-in-top-bck 1.9s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
}
 @-webkit-keyframes swing-in-top-bck {
  0% {
    -webkit-transform: rotateX(70deg);
            transform: rotateX(70deg);
    -webkit-transform-origin: top;
            transform-origin: top;
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
    -webkit-transform-origin: top;
            transform-origin: top;
    opacity: 1;
  }
}
@keyframes swing-in-top-bck {
  0% {
    -webkit-transform: rotateX(70deg);
            transform: rotateX(70deg);
    -webkit-transform-origin: top;
            transform-origin: top;
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
    -webkit-transform-origin: top;
            transform-origin: top;
    opacity: 1;
  }
}

@media (max-width: 450px) {
  .cardi{
    height: max-content;
  }
  .logo{
    margin-right: 10%;
  }
}

.card-ttle{
  top: 1.5em;
  font-weight: bolder;
  font-size: 22px;
  left: 20px;
  color: var(--primary);
}
.card-text{
  color: var(--secondary);
}

.btn:hover{
  color: white;
}

.btn1{
box-sizing: border-box;
padding: 6 12;
position: relative;
width: 95.39px;
left:30px;
height: 38px;
background: var(--primary);
color: #000000;
border: 1px solid #6C757D;
border-radius: 6px;
}
.btn2{
  box-sizing: border-box;
  padding: 6 12;
  position: relative;
  width: 95.39px;
  left:35px;
  height: 38px;
  background: var(--secondary);
  color: #131e3a;
  border: 1px solid #6C757D;
  border-radius: 6px;
  margin-left: 20px;
  }

.cardi {
box-sizing: border-box;
background: #0a192f66;
border: 1px solid rgba(0, 0, 0, 0.176);
color: var(--primary);
margin: auto;
border-radius: 20px;
padding-left: 20px;
padding-top: 20px;
padding-bottom: 10px;
padding-right: 20px;
}


.card-body{
  width: auto;
  height: 175px;
}

.projects{
  display: grid;
  gap: 2rem;
  align-items: center;
  justify-content: center;
  grid-template-columns: 1fr;
}

h1 {
  font-family: 'Poppins', sans-serif, 'arial';
  font-weight: 600;
  font-size: 72px;
  color: var(--primary);
  text-align: center;
}
.row h4 {
  font-family: 'Roboto', sans-serif, 'arial';
  font-weight: 400;
  font-size: 20px;
  color: var(--secondary);
  line-height: 1.5;
}

/* ///// inputs /////*/

input:focus ~ label, textarea:focus ~ label, input:valid ~ label, textarea:valid ~ label {
  font-size: 0.75em;
  color: #999;
  top: -5px;
  -webkit-transition: all 0.225s ease;
  transition: all 0.225s ease;
}

.styled-input {
  float: left;
  width: 293px;
  margin: 1rem 0;
  position: relative;
}
.container textarea input{
  border-radius: 10%;
}

@media only screen and (max-width: 768px){
  .styled-input {
      width:100%;
  }
}

.styled-input label {
  color: rgb(24, 24, 24);
  padding: 1.3rem 30px 1rem 30px;
  position: absolute;
  top: 10px;
  left: 0;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  pointer-events: none;
}

.styled-input.wide { 
  width: 650px;
  max-width: 100%;
}

input, textarea{
  padding: 30px;
  border: 0;
  width: 100%;
  font-size: 1rem;
  border-radius: 4px;
}

input:focus,
textarea:focus { outline: 0; }

input:focus ~ span,
textarea:focus ~ span {
  width: 100%;
  -webkit-transition: all 0.075s ease;
  transition: all 0.075s ease;
}

textarea {
  width: 100%;
  min-height: 15em;
}

.input-container {
  width: 650px;
  max-width: 100%;
  margin: 20px auto 25px auto;
}

.submit-btn {
  /* float: right; */
  padding: 7px 35px;
  border-radius: 60px;
  display: inline-block;
  background-color: var(--primary);
  color: white;
  font-size: 18px;
  cursor: pointer;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.06),
            0 2px 10px 0 rgba(0,0,0,0.07);
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

.submit-btn:hover {
  transform: translateY(1px);
  box-shadow: 0 1px 1px 0 rgba(0,0,0,0.10),
            0 1px 1px 0 rgba(0,0,0,0.09);
}

@media (max-width: 768px) {
  .submit-btn {
      width:100%;
      float: none;
      text-align:center;
  }
}