
/* styles */
html{
  scroll-behavior: smooth;
  width: 100% !important;
}
.header{
  align-items: center;
  background-color: white;
  height: 14vh;
}
.logo{
  font-weight: bolder;
  font-size: xx-large;
  color: #000;
  height: auto;
}

body {
  transition: 0.3s;
  margin: 0;
  padding: 0;
  background-color: #d9d9d9;
  font-family: 'Poppins', sans-serif;
  color:rgb(57, 57, 57);
  align-items: center;
  justify-content: center;
}
body header img {
  display: block;
}
.logo{
  height: 12rem;

} 

.card{
  background-color: #c7c7c7;
}



h1 {
  font-size: 70px;
  line-height: 70px;
  font-weight: 300;
  margin: 10px 0;
}

h2 {
  font-size: 40px;
  line-height: 40px;
  font-weight: 300;
  margin: 50px 0 10px 0;
}

p {
  margin: 0px;
  font-size: 20px;
}



.dark a {
  background-color: rgb(57, 57, 57);
  color:whitesmoke;
}

header {
  justify-content: flex-end;
  padding: 30px;
}
.landing{
  height: 100%;
}
.switch {
  display: block;
  width: 80px;
  height: 40px;
  border-radius: 20px;
  background-color: rgb(39, 38, 38);
  position: relative;
  margin-right: 10px;
  margin-top: 0.5rem;
  float: right;
  
}

.dark .switch{
  border-radius: 20px;
  background: rgb(39, 38, 38);
}


.flicker {
  width: 30px;
  height: 30px;
  border-radius: 15px;
  background-color: rgb(255, 255, 255);
  position: absolute;
  top: 5px;
  left: 5px;
  transition: 0.3s;
  box-shadow: 
    inset 4px 4px 4px rgb(255,255,255),
    inset -4px -4px 4px rgb(195 193 198 / 90%);
}


.dark {
  background-color: rgb(57, 57, 57);
  transition: 0.3s;
}

.moon {
  width: 20px;
  height: 20px;
  border-radius: 10px;
  box-shadow: 4px 4px 0 0 rgb(255, 255, 255);
  position: absolute;
  top: 5px;
  left: 45px;
}

.dark .flicker {
  transform: translateX(40px);
}

.dark > * {
 color:rgb(255, 255, 255);
}

.main {
  height: 80vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
}

.main-text {
  padding: 30px;
  margin-bottom: 100px;
  font-family: Patrick Hand,sans-serif;
  letter-spacing: 0.14rem;
}

.main-text h1{
  font-family: Patrick Hand,sans-serif;
  font-weight: 500;
}

.sub-section {
  display: flex;
  flex-wrap: wrap;
}
body section{
  margin: 2rem 0 2rem 0;; 
  padding: 2rem 0 2rem 0;
}



.hero-image {
  top: 12px;
  float: left;
  display: block;
  margin-bottom: 100px;
}




/* styles for the contact me text*
.contact-link {
  text-decoration: none;
  letter-spacing: 2px;
  padding: 2px 4px 2px 4px;
  font-size: large;
  font-family:Raleway;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  background: #e1e1e1;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.contact-link:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #1abc9c;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 50%;
  transform-origin: 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.contact-link:hover, .contact-link:focus, .contact-link:active {
  color: white;
}
.contact-link:hover:before, .contact-link:focus:before, .contact-link:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}
*/


.dd-button {
  display: inline-block;
  border: 1px solid gray;
  border-radius: 4px;
  padding: 10px 30px 10px 20px;
  background-color: #ffffff;
  cursor: pointer;
  white-space: nowrap;
}

.dark .contact-link{
  color: rgb(255, 255, 255);
  background-color: rgb(21, 21, 21);
}
.dark .dd-button {
  border-radius: 4px;
  padding: 10px 30px 10px 30px;
  background-color: rgb(21, 21, 21);
  cursor: pointer;
  white-space: nowrap;
}
.dark .dd-button:hover{
  border: 1px solid white;
}

.dark .dd-button:after {
  content: '';
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
  width: 0; 
  height: 0; 
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid white;
}

.dd-button:after {
  content: '';
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
  width: 0; 
  height: 0; 
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid black;
}

.dd-input {
  display: none;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 0;
  margin: 2px 0 0 0;
  box-shadow: 0 0 6px 0 rgba(0,0,0,0.1);
  background-color: #ffffff;
  list-style-type: none;
}

.dd-input + .dropdown-menu {
  display: none;
} 

.dd-input:checked + .dropdown-menu {
  display: block;
} 

.dropdown-menu li {
  padding: 10px 20px;
  cursor: pointer;
  white-space: nowrap;
}


.dropdown-menu li a {
  display: block;
  margin: -10px -20px;
  padding: 10px 20px;
}

.dropdown-menu li.divider{
  padding: 0;
  border-bottom: 1px solid #cccccc;
}

@media print {
  html, body {
     display: none;  /* hide whole page */
  }
}

@media only screen and (min-width: 970px) {
  .main-text {
    width: 50%;
  }
}

@media only screen and (max-width: 1300px) {
  .hero-image {
    display:none;
  }
}
/* appended* showcase */
/* .showcase{

  text-align: center;
  height: calc(1/width);
  max-width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.showcase .item{
  padding: 0.8rem 0.8rem 3rem 0.8rem;
  margin: 30px 15px 30px 15px;
}
.showcase .item{
  border-radius: 14px;
background: linear-gradient(225deg, #cacaca, #f0f0f0);
box-shadow:  -31px 31px 91px #bebebe,
             31px -31px 91px #ffffff;
} */
/*
.showcase .item{
  -webkit-border-radius: 12px;
border-radius: 12px;
background: #f4f1f1;
-webkit-box-shadow: 12px 12px 24px #cbc8c8, -12px -12px 24px #ffffff;
box-shadow: 12px 12px 24px #cbc8c8, -12px -12px 24px #ffffff;
} */
.dark .card{

background: #2b2b2b;
-webkit-box-shadow: 12px 12px 24px #2b2b2b, -12px -12px 24px #2b2b2b;
box-shadow: 12px 12px 24px #2b2b2b, -12px -12px 24px #2b2b2b;
}

.card{
  margin-left: 1.5rem;
}
/* footer style */
footer {
  width: 100%;
  padding: 90px 55px;
  background-color:#737373;
  color: white;
}
.dark footer {
background-color: rgb(57, 57, 57);
}
.dark footer .grid-container figcaption{
  color: aliceblue;
  }
.grid-container{
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: space-between;
}
footer .grid-container .grid-items{
  padding-left: 10vw;
  padding-right: 10vw;
}
.grid-container .grid-items figcaption{
  color:rgb(39, 38, 38);
  font-family: Poppins,sans-serif;
  font-weight: 500;
}

.dark .form-control{
  background-color: gray;
  color: #cbc8c8;
}

/* @media screen and (max-width: 710px) {
  .masthead .masthead-avatar {
    padding-top: 0;
    padding-bottom: 0;
  }.masthead{
    font-size: 3vw;
  }
}
  */

.dark .form-control{
  background-color: rgb(57, 57, 57);
  color: rgb(255, 255, 255);
}
.dark .label{
  color: aliceblue;
}
.dark .form-control:focus {
  color: aliceblue;
  background-color: #2b2b2b;
  border-color: #212529;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(26, 188, 156, 0.25);
}
.dark .btn {
  back-ground-color: #000;
  color: #f8f9fa;
  border-color: #1a1e21;
}

.dark .btn:hover{
  color: #fff;
  background-color: #1c1f23;
  border-color: #f8f9fa;
}

.btn-xl {
  padding: 1rem 1.75rem;
  font-size: 1.25rem;
}
a{
  color: inherit;
  text-decoration: none;
}

a:hover{
  color: inherit;
}
.dark a:hover{
  background-color: black;
  color: white;
}

.masthead-avatar{
  align-self: center;
}

.dark.btn-outline-primary{
  background-color: #fff !important;
  color: #1c1f23 !important;
  border-color: #1a1e21;
}

.copyright{
  background-color: #575757;
  color: white;
}