@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&family=Source+Code+Pro:ital@1&display=swap');

:root{
  --bg: #FFFFFF;
  --color: #2E2E2E;
  --primary: #268AFA;
  --secondary: #162C9A;
  --accent: #FAAA20;
}



/* styles */
html{
  scroll-behavior: smooth;
  width: 100% !important;
}

::-moz-selection { /* Code for Firefox */
  background: var(--accent);
}

::selection {
  background: var(--accent);
}

.header{
  align-items: center;
  height: 5.8rem;
  background: rgba( 255, 255, 255, 0.25 );
  box-shadow: 0 4px 16px 0 rgba( 31, 38, 135, 0.27 );
  backdrop-filter: blur( 3px );
  -webkit-backdrop-filter: blur( 3px );
  border: 1px solid rgba( 255, 255, 255, 0.25 );
  transition: 0.2s;
}
.logo{
  font-family: sacramento, sans-serif;
  font-size: 3em;
  font-weight: normal;
  color: var(--color);
  height: auto;
}

body {
  transition: 0.3s;
  margin: 0;
  padding: 0;
  background-color: #d9d9d9;
  font-family: 'Poppins', sans-serif;
  color:rgb(57, 57, 57);
  align-items: center;
  justify-content: center;
}
body header img {
  display: block;
}


#welcome, .masthead{
  opacity: 0.9;
  /* background-image:  radial-gradient(#878790 1.35px, transparent 1.35px), radial-gradient(#878790 1.35px, #e5e5f7 1.35px); */
  /* background-size: 54px 54px; */
  /* background-position: 0 0,27px 27px; */
}
#typewr{
  display:flex; 
  justify-content:center;
  font-size: x-large;
}

.dark .logo{
  color: var(--bg); 
}

.hero-img{
  padding-top:4ch;
}
.masthead-avatar{
  background-color: #575757;
}
/*
.card{
  background-color: #e5e5f7;
opacity: 0.8;
background-image: radial-gradient(#444cf7 0.6000000000000001px, #e5e5f7 0.6000000000000001px);
background-size: 2px 2px;
}
*/

.dark a {
  background-color: rgb(57, 57, 57);
  color:whitesmoke;
}

header {
  justify-content: flex-end;
  padding: 30px;
}

#welcome{
  height: 95vh;
}

.switch {
  display: block;
  width: 80px;
  height: 40px;
  border-radius: 20px;
  background-color: rgb(39, 38, 38);
  position: relative;
  margin-right: 10px;
  margin-top: 0.5rem;
  float: right;
  
}

.dark .switch{
  border-radius: 20px;
  background: rgb(39, 38, 38);
}


.flicker {
  width: 30px;
  height: 30px;
  border-radius: 15px;
  background-color: rgb(255, 255, 255);
  position: absolute;
  top: 5px;
  left: 5px;
  transition: 0.3s;
  box-shadow: 
    inset 4px 4px 4px rgb(255,255,255),
    inset -4px -4px 4px rgb(195 193 198 / 90%);
}

.dark {
  background-color: rgb(57, 57, 57);
  transition: 0.3s;
}

.moon {
  width: 20px;
  height: 20px;
  border-radius: 10px;
  box-shadow: 4px 4px 0 0 rgb(255, 255, 255);
  position: absolute;
  top: 5px;
  left: 45px;
}

.dark .flicker {
  transform: translateX(40px);
}

.dark > * {
 color:rgb(255, 255, 255);
}

.main {
  height: 80vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
}
.main-text {
  padding: 30px;
  margin-bottom: 100px;
  font-family: monospace,sans-serif;
  letter-spacing: 0.14rem;
}

.main-text h1{
  font-family: Patrick Hand,sans-serif;
  font-weight: 500;
}

.sub-section {
  display: flex;
  flex-wrap: wrap;
}
body section{
  margin: 2rem 0 2rem 0;; 
  padding: 2rem 0 2rem 0;
}

.hero-image {
  top: 12px;
  float: left;
  display: block;
  margin-bottom: 100px;
}


.dd-button {
  display: inline-block;
  border: 1px solid gray;
  border-radius: 4px;
  padding: 10px 30px 10px 20px;
  background-color: #ffffff;
  cursor: pointer;
  white-space: nowrap;
}

.dark .contact-link{
  color: rgb(255, 255, 255);
  background-color: rgb(21, 21, 21);
}
.dark .dd-button {
  border-radius: 4px;
  padding: 10px 30px 10px 30px;
  background-color: rgb(21, 21, 21);
  cursor: pointer;
  white-space: nowrap;
}
.dark .dd-button:hover{
  border: 1px solid white;
}

.dark .dd-button:after {
  content: '';
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
  width: 0; 
  height: 0; 
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid white;
}

.dd-button:after {
  content: '';
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
  width: 0; 
  height: 0; 
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid black;
}

.btn-outline-primar {
  background-color: var(--accent);
  --bs-btn-color: var(--color);
  --bs-btn-border-color: var(--color);
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: var(--primary);
  --bs-btn-hover-border-color: #000000;
  --bs-btn-focus-shadow-rgb: 13,110,253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #797979;
  --bs-btn-active-border-color: #5c6e58;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #353636;
  --bs-btn-disabled-bg: transparent;
  --bs-gradient: none;
  font-size: larger;
  font-family: 'Courier New', Courier, monospace;
  margin: 5px, 10px, 5px, 10px;
}

.dd-input {
  display: none;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 0;
  margin: 2px 0 0 0;
  box-shadow: 0 0 6px 0 rgba(0,0,0,0.1);
  background-color: #ffffff;
  list-style-type: none;
}

.dd-input + .dropdown-menu {
  display: none;
} 

.dd-input:checked + .dropdown-menu {
  display: block;
} 

.dropdown-menu li {
  padding: 10px 20px;
  cursor: pointer;
  white-space: nowrap;
}


.dropdown-menu li a {
  display: block;
  margin: -10px -20px;
  padding: 10px 20px;
}

.dropdown-menu li.divider{
  padding: 0;
  border-bottom: 1px solid #cccccc;
}

@media print {
  html, body {
     display: none;  /* hide whole page */
    }
}

@media only screen and (min-width: 970px) {
  .main-text {
    width: 50%;
  }
}

@media only screen and (max-width: 1300px) {
  .header{
    height: 16vh;
  }
}
.dark .card{
  
  background: #2b2b2b;
  -webkit-box-shadow: 12px 12px 24px #2b2b2b, -12px -12px 24px #2b2b2b;
  box-shadow: 12px 12px 24px #2b2b2b, -12px -12px 24px #2b2b2b;
}

.card{
  margin-left: 1.5rem;
}
/* footer style */
footer {
  width: 100%;
  padding: 90px 55px;
  background-color:#737373;
  color: white;
}
.dark footer {
background-color: rgb(57, 57, 57);
}
.dark footer .grid-container figcaption{
  color: aliceblue;
}
.grid-container{
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: space-between;
}
footer .grid-container .grid-items{
  padding-left: 10vw;
  padding-right: 10vw;
}
.grid-container .grid-items figcaption{
  color:rgb(39, 38, 38);
  font-family: Poppins,sans-serif;
  font-weight: 500;
}

.dark .form-control{
  background-color: gray;
  color: #cbc8c8;
}

.dark .form-control{
  background-color: rgb(57, 57, 57);
  color: rgb(255, 255, 255);
}
.dark .label{
  color: aliceblue;
}
.dark .form-control:focus {
  color: var(--bg);
  background-color: #2b2b2b;
  border-color: #212529;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(26, 188, 156, 0.25);
}
.dark .btn {
  background-color: var(--color);
  color: var(--bg);
  border-color: #1a1e21;
}
.primary-btn{
  background-color: var(--primary);
  color: var(--bg);
}
.primary-btn:hover{
  background-color: var(--accent);
  color: var(--bg);
}
.dark .primary-btn{
  background-color: var(--color);
  color: var(--bg);
}

.dark .btn:hover{
  color: var(--bg);
  background-color: #1c1f23;
  border-color: var(--bg);
}

.btn-xl {
  padding: 1rem 1.75rem;
  font-size: 1.25rem;
}
a{
  color: inherit;
  text-decoration: none;
}


.masthead-avatar{
  align-self: center;
  margin-top: 7.5rem;
  margin-bottom: 2.8rem;
}

.dark.btn-outline-primar{
  background-color: var(--bg) !important;
  color: #1c1f23 !important;
  border-color: var(--color);
}

.copyright{
  background-color: #575757;
  color: white;
}

.modal-header{
  background-color: var(--bg);
  color: var(--secondary);
  opacity: 0.85;
}

.modal-body{
  background-color: var(--bg);
  font-size: 1.2rem;
}
.modal-body a{
  color: var(--primary);
  text-decoration: underline;
}

.modal-footer{
  background-color:var(--bg);
}
.dark .modal-header{
  background-color: var(--color);
}

.dark .modal-body{
  background-color: var(--color);
}

.dark .modal-footer{
  background-color:var(--color);
}

.focus-in-expand {
	-webkit-animation: focus-in-expand 0.8s cubic-bezier(0.390, 0.575, 0.565, 1.000) 2 alternate-reverse both;
	        animation: focus-in-expand 0.8s cubic-bezier(0.390, 0.575, 0.565, 1.000) 2 alternate-reverse both;
}
 @-webkit-keyframes focus-in-expand {
  0% {
    letter-spacing: -0.5em;
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}
@keyframes focus-in-expand {
  0% {
    letter-spacing: -0.5em;
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}

.swing-in-top-bck {
	-webkit-animation: swing-in-top-bck 1.9s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
	        animation: swing-in-top-bck 1.9s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
}
 @-webkit-keyframes swing-in-top-bck {
  0% {
    -webkit-transform: rotateX(70deg);
            transform: rotateX(70deg);
    -webkit-transform-origin: top;
            transform-origin: top;
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
    -webkit-transform-origin: top;
            transform-origin: top;
    opacity: 1;
  }
}
@keyframes swing-in-top-bck {
  0% {
    -webkit-transform: rotateX(70deg);
            transform: rotateX(70deg);
    -webkit-transform-origin: top;
            transform-origin: top;
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
    -webkit-transform-origin: top;
            transform-origin: top;
    opacity: 1;
  }
}

/* parallax effect */
/* .parallax {
  background-image: url("../assets/parallaxbg.jpg");
  height: '100%';
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
} */
