
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&family=Source+Code+Pro:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css?family=Raleway');

/* styles */
body {
  transition: 0.3s;
  margin: 0;
  padding: 0;
  background-color: rgb(244, 241, 241);
  font-family: 'Poppins', sans-serif;
  color:rgb(57, 57, 57);
}

h1 {
  font-size: 70px;
  line-height: 70px;
  font-weight: 300;
  margin: 10px 0;
}

h2 {
  font-size: 40px;
  line-height: 40px;
  font-weight: 300;
  margin: 50px 0 10px 0;
}

p {
  margin: 0px;
  font-size: 20px;
}

a {
  color:black;
  font-size: 20px;
  text-decoration: none;
  font-weight: 100;
}

.dark a {
  color:whitesmoke;
}

header {
  display: flex;
  justify-content: flex-end;
  padding: 30px;
}

.switch {
  width: 80px;
  height: 40px;
  border-radius: 20px;
  background-color: rgb(39, 38, 38);
  position: relative;
}

.flicker {
  width: 30px;
  height: 30px;
  border-radius: 15px;
  background-color: rgb(255, 255, 255);
  position: absolute;
  top: 5px;
  left: 5px;
  transition: 0.3s;
  box-shadow: 
    inset 4px 4px 4px rgb(255,255,255),
    inset -4px -4px 4px rgb(195 193 198 / 90%);
}

.dark {
  background-color: rgb(57, 57, 57);
  transition: 0.3s;
}

.moon {
  width: 20px;
  height: 20px;
  border-radius: 10px;
  box-shadow: 4px 4px 0 0 rgb(255, 255, 255);
  position: absolute;
  top: 5px;
  left: 45px;
}

.dark .flicker {
  transform: translateX(40px);
}

.dark > * {
 color:rgb(255, 255, 255);
}

.main {
  height: 80vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
}

.main-text {
  padding: 30px;
  margin-bottom: 100px;
  font-family: Patrick Hand,sans-serif;
  letter-spacing: 0.14rem;
}

.main-text h1{
  font-family: Patrick Hand,sans-serif;
  font-weight: 500;
}

.sub-section {
  display: flex;
  flex-wrap: wrap;
}

.hero-image {
  top: 12px;
  position: relative;
  display: block;
  margin-bottom: 100px;
}



@media only screen and (min-width: 970px) {
  .main-text {
    width: 50%;
  }
}

@media only screen and (max-width: 1300px) {
  .hero-image {
    display:none;
  }
}
/* appended* showcase */
.showcase{

  text-align: center;
  height: calc(1/width);
  max-width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.showcase .item{
  padding: 3rem 3rem 3rem 3rem;
}
.showcase a{
  font-family: sans-serif;
  font-weight: 400;
}
/* footer style */
footer {
  padding: 90px 55px;
  background-color:rgb(136, 136, 136);
}

 footer .dark{
background-color:whitesmoke;
}

.grid-container{
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: space-between;
}

footer .grid-container .grid-items{
  padding-left: 10vw;
  padding-right: 10vw;
}
.grid-container .grid-items figcaption{
  color:rgb(39, 38, 38);
  font-family: Poppins,sans-serif;
  font-weight: 500;
}