*{
    box-sizing: border-box;
}
* .dark{
    box-sizing: border-box;
    background-color: black;
}
/*background color */
body{
    background-color: #b16cfe;
}
body{
    margin-top: 0px;
    margin: 0px;
    font-family: -apple-system, BlinkMacSystemFont, 
    'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 
    'Open Sans', 'Helvetica Neue', sans-serif;
}


header h2{
    text-align: center;
    font-size: 6vw;
    color: white;
    display: block;
}
#header{
    padding: 1px;
    color: black;
    text-align: center;
    font-weight: bold;
    top: 0;
    width: 100%;
}
#header img, h2{
    display: block;
}
body nav{
    background-color: rgba(194, 24, 24, 0);
    /* grey color */
    overflow: hidden;
}
nav a{
    text-decoration: none;
    padding: 20px;
    text-align: center;
    float: left;
    color: white;
}
 .active {
    color: white;
    text-decoration: underline;
}
 body main p{
     margin: 40px;
    font-size: 25px;
    top: 40vh;;
    color: white;
    text-align: center;  
}

footer{
    text-align: center;
    
}

.icon-bar{
    position: fixed;
    top: 60%;
    text-decoration: none;
}

.icon-bar a{
    margin: 5px;
    display: block;
    text-align: center;
}
.icon-bar .dark{
    background-color: white;
}
body main p .dark{
    margin: 40px;
   font-size: 25px;
   top: 40vh;;
   text-align: center;  
}
#dp{
    text-align: center;
    margin-top: 6vh;
    width: max-content;
    border: 10px solid #b16cfe;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
    opacity: 0.8;
}
#email, #hyperlink{
    
    text-align: center;
    font-family: 'Roboto Slab', serif;
    margin-bottom: 30px;
}
#headerr{
    color: white;
}
