*{
    box-sizing: border-box;
}

body{
    margin-top: 0px;
    margin: 0px;
    font-family: -apple-system, BlinkMacSystemFont, 
    'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 
    'Open Sans', 'Helvetica Neue', sans-serif;
}

header h2{
    text-align: center;
    font-size: 6vw;
    color: white;
}
#header{
    background-color: rgb(17, 143, 158);
    padding: 1px;
    color: black;
    text-align: center;
    font-weight: bold;
    top: 0;
    width: 100%;
}
nav{
    background-color: #333;
    /* grey color */
    overflow: hidden;
}
nav a{
    text-decoration: none;
    padding: 20px;
    text-align: center;
    float: left;
    color: white;
}
 .links :hover{
     color: rgb(214, 156, 32);     
 }
 .active {
    color: rgb(214, 156, 32);
    text-decoration: underline;
}
 body main p{
     margin: 40px;
    font-size: 25px;
    top: 40vh;
    background-color: white;
    text-align: center;
}

footer{
    text-align: center;
    
}
body nav #link1, #link2, #link3{
    margin-right: 160px;
    margin-left: 160px;
}

.icon-bar{
    position: fixed;
    top: 60%;
    text-decoration: none;
}

.icon-bar a{
    margin: 5px;
    display: block;
    text-align: center;
}

@media screen {
    
}