body{
    --accent-color: orangered;
    --background-color: white;
    --text-color: black;
    --button-text-color:white;
    --transition-delay:1s;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    overflow: hidden;

    transition: var(--transition-delay);
    background-color: var(--background-color);
    color: var(--text-color);

}
body.dark{
    --accent-color: #D0D066;
    --background-color: #333;
    --text-color: white;

    background-color: var(--background-color);

}

.title{
    margin: 0;
    margin-bottom: 0.5 rem;
}

.theme-toggle-button,
.enter-button{
    background-color: var(--accent-color);
    color: var(--button-text-color);
    
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5em, 1em;
    border-radius: .2em;
    border: none;
    outline: none;
    transition: var(--transition-delay);
    transform: scale(1);
}

.theme-toggle-button .icon{
    margin: .5em;
}

.theme-toggle-button:hover,
.theme-toggle-button:focus,
.enter-button:hover,
.enter-button:focus{
    transform: scale(1.1);
}
.enter-button{
    margin-top: 1em;
    padding: 0.5em, 1em;
}

.sun-moon-container{
    --rotation: 180;
    
    position: absolute;
    pointer-events: none;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    height: 200vmin;
    transform: rotate(calc(var(--rotation) * 1deg));
    transition: transform var(--transition-delay);
}

.dark .sun-moon-container{
    --rotation: 0;
}

.sun, 
.moon{
    position: absolute;
    transition: opacity, fill, var(--transition-delay);
    width: 30px;
    height: 30px;
    fill: var(--accent-color);
}

.sun{
    top: 5%;
    opacity: 1;
}

.dark .sun{
    opacity: 0;
}

.moon{
    bottom: 5%;
    opacity: 0%;
    rotate:180deg;
}
 
.dark .moon{
    opacity: 1;
}
